.button {
  cursor: pointer;
  
  transition: width $button-transition-time, height $button-transition-time;
  background-size: 100%;
  background-repeat: no-repeat;
}

.small-button {
  @extend .button;
  width: $small-button-size;
  height: $small-button-size;
}
.small-button:active {
  width: $small-button-size-down;
  height: $small-button-size-down;
}
.large-button {
  @extend .button;
  width: $large-button-size;
  height: $large-button-size;
}
.large-button:active {
  width: $large-button-size-down;
  height: $large-button-size-down;
}



.mute-button {
  @extend .small-button;
  
  position: absolute;
  bottom: 60px;
  right: -120px;
  -webkit-transform: translateX( 50% ) translateY(50%);
  transform: translateX( 50% ) translateY(50%);
  
  background-image: url('../images/interface/button_audio_on.png');
  z-index: 22; /* needs to be over pause overlay */
  
  /*transition: right $transition-time ease-out;*/
}
.mute-button-on {
  right: 60px;
}
.mute-button:hover {
  background-position: 0 0;
}
.mute-button.mute-music {
  background-position: 0 0;
}
.mute-button.mute-music:hover {
  background-position: 0 0;
}
.mute-button.mute-all {
  background-position: 0 0;
}
.mute-button.mute-all:hover {
  background-position: 0 0;
}







.dolby-logo {
  position: absolute;
  width: 150px;
  height: 31px;
  
  bottom: 60px - (31px/2);
  right: 60px + ($small-button-size/2) + 10px;
  
  background-image: url('../images/interface/logo_dolby_digital_plus.png');
  background-size: contain;
}

.pause-button {
  @extend .small-button;
  position: absolute;
  bottom: 60px;
  left: -120px;
  -webkit-transform: translateX( -50% ) translateY(50%);
  transform: translateX( -50% ) translateY(50%);
  
  background-image: url('../images/interface/button_pause_small.png');
  
  transition: left $transition-time ease-out;
}
.pause-button-on {
  left: 60px;
}
.pause-button:hover {
  background-image: url('../images/interface/button_pause_small_rollover.png');
}

.play-button {
  @extend .large-button;
  
  position: relative;
  left: $large-button-size/2;
  top: $large-button-size/2;
  -webkit-transform: translateX( -50% ) translateY(-50%);
  transform: translateX( -50% ) translateY(-50%);
  
  background-image: url('../images/interface/button_play_large.png');
}
.play-button:hover {
  background-image: url('../images/interface/button_play_large_rollover.png');
}

.skip-tutorial {
  background-image: url("../images/interface/button_continue.png");
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;

  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 80px;
  height: 112px;
  z-index: 10;

  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  &:hover {
    background-image: url("../images/interface/button_continue_rollover.png");
  }
}

.bottomed {
  position: absolute;
  bottom: 0;
  opacity: 0; /* pre-hide for fade animation */
}
.resume-button {
  @extend .large-button;
  @extend .bottomed;
  
  background-image: url('../images/interface/button_play_large.png');
}
.resume-button:hover {
  background-image: url('../images/interface/button_play_large_rollover.png');
}
.restart-button {
  @extend .large-button;
  @extend .bottomed;
  
  background-image: url('../images/interface/button_replay_large.png');
}
.restart-button:hover {
  background-image: url('../images/interface/button_replay_large_rollover.png');
}
.quit-button {
  @extend .large-button;
  @extend .bottomed;

  background-image: url('../images/interface/button_home_large.png');
}
.quit-button:hover {
  background-image: url('../images/interface/button_home_large_rollover.png');
}

/* positioning */
.pause-menu .resume-button {
  left: 60px;
  -webkit-transform: translateX( -50% ) translateY(50%);
  transform: translateX( -50% ) translateY(50%);
}
.pause-menu .restart-button {
  left: 50%;
  -webkit-transform: translateX( -50% ) translateY(50%);
  transform: translateX( -50% ) translateY(50%);
}
.pause-menu .quit-button {
  right: 60px;
  -webkit-transform: translateX( 50% ) translateY(50%);
  transform: translateX( 50% ) translateY(50%);
}
.game-over-menu .restart-button {
  left: 40%;
  -webkit-transform: translateX( -50% ) translateY(50%);
  transform: translateX( -50% ) translateY(50%);
}
.game-over-menu .quit-button {
  right: 40%;
  -webkit-transform: translateX( 50% ) translateY(50%);
  transform: translateX( 50% ) translateY(50%);
}

.audio-controls {
  position: absolute;
  left: 0;
  right: 0;
  margin: 120px auto;
  top: 50%;
  width: 300px;
  text-align: center;
}

.stereo-button, .surround-button {
  cursor: pointer;
  display: inline-block;
  
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  
  width: 131px;
  height: 50px;
}
.stereo-button:hover, .surround-button:hover {
  background-position: 0 -58px;/*33%; 117*/
}
.stereo-button.active, .surround-button.active {
  background-position: 0 -116px;/*67%;234*/
}
.stereo-button.active:hover, .surround-button.active:hover {
  background-position: 0 -174px;/*100%;350*/
}

.stereo-button {
  background-image: url('../images/interface/button_stereo.png');
  
}
.surround-button {
  background-image: url('../images/interface/button_surround.png');
}

.touch-to-start-button {
  width: 106px;
  height: 120px;
  margin: auto;
  background-size: 100%;
  background-image: url('../images/interface/button_touch_to_start_large.png');
}