/* Variables and such */

/***** UI Buttons *****/
$small-button-size:         46px;
$small-button-size-down:    36px;

$large-button-size:         92px;
$large-button-size-down:    72px;

$button-transition-time:    0.2s;


/*****  *****/