@import "config.scss";
@import "buttons.scss";

#container {
  padding:0;
  margin:0;  
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
  -ms-touch-action: none !important; /* DISABLE DOUBLE-TAP-ZOOM */
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.delay-a {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.delay-b {
  -webkit-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
.delay-c {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fade-in {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-out {
  -webkit-animation-name: fadeout;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-name: fadeout;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}
@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.points {
  position: absolute;
  z-index: 10;  /* to appear above THREE canvas */
  color: $score-color;
  font-family: 'HorizonBT-Regular';
  font-size: 30px;
  text-align: center;
  opacity: 1;
  top: 0;
  transition: top 2s linear, opacity 2s ease-in;
  
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.speaker {
  border: 1px solid #fff;
}


/**************************************************
  UI
*/

.loading {}
.game-ui {}




/* Pause menu is above all elements except the in-game logo */
.pause-menu {
  width: 400px;
  z-index: 25;
}
.game-over-menu {
  width: 600px;
}
.pause-menu, .game-over-menu {
  position: absolute;
  bottom: 50%;
  height: 200px;
  
  left: 0;
  right: 0;
  margin: 0 auto;
  
  text-align: center;
}
.pause-overlay {
  background: #000;
  opacity: 0.4;
  z-index: 20;
  transition: opacity 0.1s linear;
}
/* Pause overlay on-state and opacity transition are to fix Chrome bug wherein
 * only part of the window is rendered during pause title animation. The overlay
 * is only drawn over the top half of the window. The on-state and transition
 * force the full-frame to redraw.
 */
.pause-overlay-on {
  opacity: 0.5;
}
.pause-title, .game-over-title {
  color: #fff;
  font-size: 120px;
  font-family: 'HorizonBT-Regular';
  
  -webkit-transform: perspective(100px) translate3D(0, -100px, 100px);
  transform: perspective(100px) translate3D(0, -100px, 100px);
    
  transition: -webkit-transform $transition-time ease-out, transform $transition-time ease-out;
}
.pause-title-on, .game-over-title-on {
  -webkit-transform: perspective(100px) translate3D(0, 0px, 0px);
  transform: perspective(100px) translate3D(0, 0px, 0px);
}

.fullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;  
}

.bg1 {
  background-image: url("../images/loader_background.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: -2;
  animation-name: bgscroll1;
  animation-duration: 40s;
  animation-iteration-count: infinite;
}

.bg2 {
  background-image: url("../images/stars_tile.png");
  background-repeat: repeat-x;
  background-size: auto 100%;
  z-index: -1;
  animation-name: bgscroll2;
  animation-duration: 32s;
  animation-iteration-count: infinite;
}

.bg1, .bg2 {
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

/* keyframes are adjusted in js to match scaled size of background */
@keyframes bgscroll1 {
  0% { background-position: 0; }
  100% { background-position: -100%; }
}
@keyframes bgscroll2 {
  0% { background-position: 0; }
  100% { background-position: -100%; }
}

.menu-holder {
  text-align: center;
}

.play-place {
  position: absolute;
  width: 92px;
  height: 92px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY( 10px );
  transform: translateY( 10px );
  z-index: 10;
}


.half-ring-blue, .half-ring-white {
  background-size: 100%;
  width: 46px;
  height: 92px;
  -webkit-transform: translateZ(0); /* To prevent aliasing */
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  position: absolute;
  left: 50%;
}
.half-ring-blue {
  background-image:url('../images/button_circle_half_blue.png');
}
.half-ring-white {
  background-image:url('../images/button_circle_half_white.png');
}
.rotate180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.rotate-180 {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}



.progress-ring {
  width: 92px;
  height: 92px;
  /*background: url('../images/button_circle_large.png');
  background-size: 100%;
  background-repeat: no-repeat;*/
}

.progress-holder {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 52px;
  height: 92px;
  overflow: hidden;
}

.progress {
  position: relative;
  color: #fff;
  margin: 0 auto;
  font-size: 30px;
  font-family: "futura-pt-condensed";
  text-align: center;
  width: 52px;
}
.play-symbol {
  position: relative;
  margin: 0 auto;
  left: -52px;
  width: 52px;
  height: 52px;
  background: url('../images/button_play_large_no_circle.png');
  background-size: 92px 92px;
  background-position: 50% 50%;
}

.progress-title-holder {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 50%;
  z-index: 11;
}
.progress-title {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  background: url('../images/logo_feisty_galaxies.png');
  background-size: 140%;
  background-repeat: no-repeat;
  background-position: 50% 100%;

  -webkit-transform: translateZ(0); /* To prevent aliasing */

  transition: bottom, width, height;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.logo-loading-layout {
  width: 150px;
  height: 100px;
}
.logo-final-layout {
  width: 282px;
  height: 192px;
  bottom: 0;
}


.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}



/*****************
 * in-game
 *****************/
.level-display, .score-display {
  margin: 20px;
  
  color: $score-color;
  border: 4px solid $border-color;
  border-radius: 25px;
  min-width: 140px;
  width: 140px;
  height: 35px;
  line-height: 35px;
}

.level-display {
  position: absolute;
  top: 0;
  right: 0;
}

.score-display {
  position: absolute;
  top: 0;
  left: 0;
}
.level-display-text, .score-display-text {
  font-family: 'HorizonBT-Regular';
  font-size: 28px;
  line-height: 34px;
  vertical-align: top;
}


.life-display {
  position: absolute;
  top: 0;
  left: 180px;
  margin-top: 27px;
}
.life-heart {
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 5px;
  //display: inline-block;
  
  background: url('../images/life_heart.png');
  background-size: cover;
  background-position: bottom;
}
.life-heart.empty {
  background-position: top;
}


.game-logo {
  position: absolute;
  top: 5px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 141px;
  height: 96px;
  background: url('../images/logo_feisty_galaxies.png');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 30;
}

.title {
  position: absolute;
  width: 800px;
  height: 200px;
  
  left:0;
  right:0;
  margin: 70px auto;
  
  top: 100%;
  transition: top $transition-time ease;
  
  color: $score-color;
  
  font-family: 'HorizonBT-Regular';
  font-size: 60px;
  line-height: 60px;
}
.title-on {
  top: 50%;
}

.browser-recommend {
  width: 651px;
  height: 80px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -100px;
  margin: 0 auto;
  overflow: hidden;
  background-size: 100%;
  transition: bottom $transition-time ease-out;
}
.browser-recommend:hover {
  background-position: 0 100%;
}
.browser-recommend-on {
  bottom: 20px;
}

.recommend-safari {
  background-image: url('../images/button_mac_safari.png');
}
.recommend-edge {
  background-image: url('../images/button_microsoft_edge.png');
}

.touch-to-start {
  background-image: url('../images/feisty_galaxies_touch_to_start_background.jpg');
  background-size: cover;
  background-position: center;
  z-index: 101;
}
.touch-to-start-logo {
  width: 449px;
  height: 300px;
  background: url("../images/logo_feisty_galaxies.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;  
}
.touch-to-start-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
